.logoimage {
    height:50px;
    width: 50px;
}

.navbar-brand {

    font-family: "Ink Free";
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px

}

.card {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 60px;
}

body {
    background-image: url("background.jpg");
  }


